{#
/**
 * @file
 * Theme override for a form element label.
 */
#}
{%
  set classes = [
  'text-sm',
  'font-medium',
  'text-gray-700',
  'cursor-pointer',
  title_display == 'invisible' ? 'visually-hidden',
  required ? 'js-form-required',
  required ? 'form-required',
]
%}

{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>
    {{ title }}
    {% if required %}
      <span class="text-red-600 ml-1">*</span>
    {% endif %}
  </label>
{%- endif %}
