{#
/**
 * @file
 * Theme implementation for Features stats simple item paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
] %}

<div {{ attributes.addClass(classes) }}>
  <p class="text-3xl font-semibold !text-blue-600">{{ content.field_value }}</p>
  <div class="mt-1">{{ content.field_body }}</div>
</div>
