{#
/**
 * @file
 * Theme implementation for Line title paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph-head-title relative overflow-hidden',
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="max-w-[85rem] mx-auto py-16 pb-8">
    <div class="max-w-2xl text-center mx-auto">
      <h2>{{ content.field_title }}</h2>
      {{ content.field_body }}
    </div>
  </div>
</div>
