{#
/**
 * @file
 * Theme override for page title.
 */
#}
{% if title %}
  <div class="page-title-wrapper mb-6">
    <h1 class="text-3xl font-bold lg:text-5xl dark:text-white">
      {{ title }}
    </h1>
  </div>
{% endif %}
