{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page border-2 border-gray-200 rounded-lg p-4 lg:p-6 bg-gray-50">
  {{ 'Your shopping cart is empty.'|t }}
</div>
