{#
/**
 * @file
 * Theme override for a single local action link.
 */
#}
<li{{ attributes.addClass('list-none', 'mb-4') }}>
  {%
    set link_classes = [
    'inline-flex',
    'items-center',
    'gap-2',
    'px-4',
    'py-2',
    'font-semibold',
    'rounded-lg',
    'bg-blue-600',
    'text-white',
    'hover:bg-blue-700',
    'transition-colors',
    'duration-500',
    'no-underline',
  ]
  %}
  {{- link|merge({'#options': {'attributes': {'class': link_classes}}}) -}}
</li>
