{#
/**
 * @file
 * Theme override for a container element.
 */
#}
{%
  set classes = [
  'container',
  attributes.hasClass('form-actions') ? 'flex items-center gap-3' : '',
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ children }}
</div>
