{#
/**
 * @file
 * Theme override for shipping methods radio buttons group.
 */
#}
<div{{ attributes.addClass('space-y-3', 'shipping-method-radios', 'shipping-method-items') }}>
  {{ children }}
</div>
