{#
/**
 * @file
 * Theme override for a select element.
 */
#}
{% set classes = [
  'block pl-4 pr-10 py-3 border border-gray-300 rounded-lg text-gray-600 bg-white',
  'focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent',
  'disabled:bg-gray-300 disabled:text-gray-600 disabled:cursor-not-allowed transition-colors duration-500 cursor-pointer',
  'appearance-none bg-select-arrow',
  errors ? 'border-red-600 focus:ring-red-600' : '',
] %}

<select{{ attributes.addClass(classes) }}>
  {% for option in options %}
    <option value="{{ option.value }}"{{ option.selected ? ' selected' : '' }}>{{ option.label }}</option>
  {% endfor %}
</select>
