/**
 * Custom components styles for Nothing theme
 */

@layer components {
  fieldset p,
  .checkout-complete p {
    @apply border-l-4 border-blue-600 mb-4 pl-4;
  }

  fieldset legend span {
    @apply ml-2 text-blue-600 text-xs;
  }

  fieldset legend span:before,
  fieldset legend span:after {
    @apply hidden;
  }
}

.cart.cart-form {
  @apply mb-10;
}

.commerce-cart-form .form-item-type-number {
  @apply mb-0;
}

.view-commerce-checkout-order-summary {
  @apply mb-4;
}

.checkout-pane-login fieldset.form-wrapper__login-option > div,
.layout-checkout-form .checkout-pane-shipping-information > div {
  @apply !space-y-6;
}

.address-container-inline {
  @apply mb-5 p-6 bg-gray-100 rounded-xl;
}

.address-container-inline > .form-item {
  @apply !mr-0 !mb-3 last:!mb-0 !block;
}

.checkout-pane-login fieldset.form-wrapper__login-option p {
  @apply mb-0;
}

.layout-checkout-form #edit-payment-information-billing-information .form-item-type-select {
  @apply mt-5;
}

.field--type-address {
  @apply mb-5;
}

form[class*="commerce-checkout-flow"] .ajax-progress,
form[class*="commerce-checkout-flow"] .ajax-progress-throbber,
.product-info .ajax-progress,
.product-info .ajax-progress-throbber {
  @apply hidden;
}

form[class*="commerce-checkout-flow"] input[type="radio"] ~ [class*="-method-label"] {
  @apply pl-[30px] bg-no-repeat bg-left bg-contain;
  background-image: url('../images/tick-icon-unselected.png');
}

form[class*="commerce-checkout-flow"] input[type="radio"]:checked ~ [class*="-method-label"] {
  background-image: url('../images/tick-icon-selected.png');
}

/**
 * Checkout-complete.
 */
.checkout-complete {
  @apply mb-6;
}

.checkout-complete [class*="payment-instructions"] {

}

.checkout-complete [class*="payment-instructions"] > h2 {
  @apply mb-4;
}
