/**
 * Custom styles for Nothing theme
 */

@layer components {
  .form-wrapper__login-option input.button {
    @apply mt-2 mr-2;
  }

  fieldset fieldset:last-child {
    @apply mb-0;
  }
}

details[open] > summary svg {
  transform: rotate(90deg);
}

details[open] > summary svg {
  transform: rotate(90deg);
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}
