@import './common.css';
@import './components.css';
@import './menu.css';
@import './form.css';
@import './checkout.css';
@import './password.css';
@import './elements.css';
@import './paragraphs.css';
@import './pager.css';
@import './modal.css';
@import './hide.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
