/**
 * Custom styles for Nothing theme
 */

header .main-navigation-ul-0 {
  @apply flex flex-col gap-y-4 mt-5 lg:flex-row lg:justify-center lg:items-center lg:gap-x-7 lg:mt-0 list-none m-0 p-0;
}

header .main-navigation-ul-level {
  @apply absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 hidden group-hover:block z-50 list-none m-0 p-0;
}

header .main-navigation-ul li a {
  @apply inline-block transition-colors duration-500 no-underline;
}

header .main-navigation-ul li a.main-navigation-link-0 {
  @apply text-black hover:text-yellow-400 focus:text-yellow-400 font-medium;
}

header .main-navigation-ul li a.main-navigation-link-level {
  @apply block px-4 py-2 text-gray-600 hover:bg-gray-100;
}

header .main-navigation-ul li a.is-active {
  @apply text-yellow-400;
}

footer .main-navigation-ul {
  @apply text-center;
}

footer .main-navigation-ul-level {
  display: none;
}

footer .main-navigation-ul li {
  @apply inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-300;
}

footer .main-navigation-ul li a {
  @apply inline-flex gap-x-2 text-sm text-gray-600 hover:text-gray-900 focus:text-gray-900 transition duration-500;
}

.menu-local-task-primary {
  @apply block mb-0 px-6 py-3 border-b-2 border-transparent font-medium text-sm transition-colors duration-500 no-underline text-gray-600 hover:text-blue-600;
}

.menu-local-task-secondary {
  @apply block mb-0 px-4 py-2 text-sm font-medium transition-colors duration-500 no-underline text-gray-600 hover:text-blue-600;
}
