{#
/**
* @file
* Theme override to display a single page.
*/
#}
<div class="min-h-screen flex flex-col">

  {% include '@nothing/navigation/header-navigation.html.twig' %}
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  {# Main Content #}
  <main role="main" class="flex-grow">
    <a id="main-content" tabindex="-1"></a>

    <div class="container mx-auto px-6 py-8">
      <div class="grid grid-cols-1 gap-8">

        <div class="content-area">

          <!-- Hero -->
          <div class="relative overflow-hidden">
            <div class="max-w-[85rem] mx-auto py-16">
              <div class="max-w-2xl text-center mx-auto">
                <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl">Welcome to <span class="text-blue-600">The NOTHING!</span></h1>
                <p class="mt-3 text-lg text-gray-800">Designed for you to get more!</p>
                <p class="mt-3 text-lg text-gray-800">Build your business here. Take it anywhere. Where emptiness becomes infinite potential. Experience the power of pure possibility - right in your hands.</p>
              </div>
            </div>
          </div>
          <!-- End Hero -->

          <!-- Hero -->
          <div class="">
            <div class="h-96 md:h-[56dvh] flex flex-col bg-[url('../assets/images/wall-r.jpg')] bg-cover bg-center bg-no-repeat rounded-xl">
              <div class="mt-auto w-2/3 md:max-w-xl ps-5 pb-5 md:ps-10 md:pb-10">
                <h2 class="text-xl md:text-3xl lg:text-5xl text-gray-800">
                  Bringing <span class="text-blue-600 whitespace-nowrap">The Nothing!</span> to Everything
                </h2>
              </div>
            </div>
          </div>
          <!-- End Hero -->

          <!-- Hero -->
          <div class="relative overflow-hidden">
            <div class="max-w-[85rem] mx-auto py-16">
              <div class="max-w-2xl text-center mx-auto">
                <h2 class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl">Take The Nothing!</h2>
                <p class="mt-3 text-lg text-gray-800">Discover the surprising freedom of owning absolutely nothing.</p>
                <p class="mt-3 text-lg text-gray-800">Lightweight yet limitless, <span class="text-blue-600"> The Nothing!</span> is always with you, always ready: never gets old, never runs out. Unbound, boundaryless, yours forever.</p>
              </div>
            </div>
          </div>
          <!-- End Hero -->

          <!-- Features -->
          <div class="max-w-[85rem] py-10 lg:py-14 mx-auto">
            <!-- Grid -->
            <div class="lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
              <div class="lg:col-span-7">
                <!-- Grid -->
                <div class="grid grid-cols-12 gap-2 sm:gap-6 items-center lg:-translate-x-10">
                  <div class="col-span-4">
                    <img class="rounded-xl" src="https://images.unsplash.com/photo-1606868306217-dbf5046868d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80" alt="Features Image">
                  </div>
                  <!-- End Col -->

                  <div class="col-span-3">
                    <img class="rounded-xl" src="https://images.unsplash.com/photo-1605629921711-2f6b00c6bbf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80" alt="Features Image">
                  </div>
                  <!-- End Col -->

                  <div class="col-span-5">
                    <img class="rounded-xl" src="https://images.unsplash.com/photo-1600194992440-50b26e0a0309?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80" alt="Features Image">
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Grid -->
              </div>
              <!-- End Col -->

              <div class="mt-5 sm:mt-10 lg:mt-0 lg:col-span-5">
                <div class="space-y-6 sm:space-y-8">
                  <!-- Title -->
                  <div class="space-y-2 md:space-y-4">
                    <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
                      Simply Essential Advantages
                    </h2>
                    <p class="text-gray-500">
                      The Nothing! doesn’t weigh you down because there's literally nothing to carry! Infinite adaptability with zero limitations.
                    </p>
                  </div>
                  <!-- End Title -->

                  <!-- List -->
                  <ul class="space-y-2 sm:space-y-4">
                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <div class="grow">
                        <span class="text-sm sm:text-base text-gray-500">
                          <span class="font-bold">Weightless</span>: There's nothing lighter than Nothing!
                        </span>
                      </div>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <div class="grow">
                        <span class="text-sm sm:text-base text-gray-500">
                          <span class="font-bold">Low Maintenance</span>: No upkeep, no worries, no fuss.
                        </span>
                      </div>
                    </li>

                    <li class="flex gap-x-3">
                      <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                        <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                      </span>
                      <div class="grow">
                        <span class="text-sm sm:text-base text-gray-500">
                          <span class="font-bold">Always in Style</span>: Trends come and go Nothing! endures.
                        </span>
                      </div>
                    </li>
                  </ul>
                  <!-- End List -->
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Grid -->
          </div>
          <!-- End Features -->

          <!-- Hero -->
          <div class="relative overflow-hidden">
            <div class="max-w-[92rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
              <div class="max-w-2xl text-center mx-auto">
                <h2 class="block text-2xl font-bold text-gray-800 sm:text-3xl md:text-4xl"><span class="text-blue-600">Universal Fit</span> Works with everything or nothing at all.</h2>
                <p class="mt-3 text-lg text-gray-800">It's all about nothing!</p>
                <p class="mt-3 text-lg text-gray-800">Unlimited Supply: You’ll never run out. Ever.</p>
              </div>
            </div>
          </div>
          <!-- End Hero -->

          <!-- Features (procents) -->
          <div class="max-w-[85rem] py-10 lg:py-14 mx-auto">
            <!-- Grid -->
            <div class="grid items-center lg:grid-cols-12 gap-6 lg:gap-12">
              <div class="lg:col-span-4">
                <!-- Stats -->
                <div class="lg:pe-6 xl:pe-12">
                  <p class="text-6xl font-bold leading-10 text-blue-600">
                    92% <span class="ms-1 inline-flex items-center gap-x-1 bg-gray-200 font-medium text-gray-800 text-xs leading-4 rounded-full py-0.5 px-2">
                      <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                      </svg>
                      +7% this month
                    </span>
                  </p>
                  <p class="mt-2 sm:mt-3 text-gray-500">Satisfaction Our customers love having absolutely nothing.</p>
                </div>
                <!-- End Stats -->
              </div>
              <!-- End Col -->

              <div class="lg:col-span-8 relative lg:before:absolute lg:before:top-0 lg:before:-start-12 lg:before:w-px lg:before:h-full lg:before:bg-gray-200 lg:">
                <div class="grid gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-3 sm:gap-8">
                  <!-- Stats -->
                  <div>
                    <p class="text-3xl font-semibold text-blue-600">150%</p>
                    <p class="mt-1 text-gray-500">Year-over-Year Growth We’ve doubled sales of Nothing! every year.</p>
                  </div>
                  <!-- End Stats -->

                  <!-- Stats -->
                  <div>
                    <p class="text-3xl font-semibold text-blue-600">97%</p>
                    <p class="mt-1 text-gray-500">Needs Met Nearly all needs fulfilled, with nothing left unmet.</p>
                  </div>
                  <!-- End Stats -->

                  <!-- Stats -->
                  <div>
                    <p class="text-3xl font-semibold text-blue-600">0%</p>
                    <p class="mt-1 text-gray-500">Complaints You simply can’t complain about Nothing!</p>
                  </div>
                  <!-- End Stats -->
                </div>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Grid -->
          </div>
          <!-- End Features -->

          <!-- Features -->
          <div class="max-w-[85rem] py-10 lg:py-14 mx-auto">
            <div class="relative p-6 md:p-16">
              <!-- Grid -->
              <div class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
                <div class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2">
                  <h2 class="text-2xl text-gray-800 font-bold sm:text-3xl">
                    Endlessly Adaptable - Your Rules, Your Nothing!
                  </h2>

                  <!-- Tab Navs -->
                  <nav class="grid gap-4 mt-5 md:mt-10" aria-label="Tabs" role="tablist" aria-orientation="vertical">
                    <button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 p-4 md:p-5 rounded-xl transition duration-400" id="tabs-with-card-item-1" aria-selected="true" data-hs-tab="#tabs-with-card-1" aria-controls="tabs-with-card-1" role="tab">
                      <span class="flex gap-x-6">
                        <svg class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-blue-600 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"/><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"/><path d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"/><path d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"/><path d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"/></svg>
                        <span class="grow">
                          <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800">Shape it Yourself</span>
                          <span class="block mt-1 text-gray-800">Want it to be big, small, square or round? Nothing! instantly fits your imagination.</span>
                        </span>
                      </span>
                    </button>

                    <button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 p-4 md:p-5 rounded-xl transition duration-400" id="tabs-with-card-item-2" aria-selected="false" data-hs-tab="#tabs-with-card-2" aria-controls="tabs-with-card-2" role="tab">
                      <span class="flex gap-x-6">
                        <svg class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-blue-600 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 14 4-4"/><path d="M3.34 19a10 10 0 1 1 17.32 0"/></svg>
                        <span class="grow">
                          <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800">Anywhere, Anytime</span>
                          <span class="block mt-1 text-gray-800">Indoors, outdoors, in meetings or at home—Nothing! is perfect everywhere.</span>
                        </span>
                      </span>
                    </button>

                    <button type="button" class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 p-4 md:p-5 rounded-xl transition duration-400" id="tabs-with-card-item-3" aria-selected="false" data-hs-tab="#tabs-with-card-3" aria-controls="tabs-with-card-3" role="tab">
                      <span class="flex gap-x-6">
                        <svg class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-blue-600 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"/><path d="M5 3v4"/><path d="M19 17v4"/><path d="M3 5h4"/><path d="M17 19h4"/></svg>
                        <span class="grow">
                          <span class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800">Infinite Personalization</span>
                          <span class="block mt-1 text-gray-800">Dress it up, keep it invisible—make Nothing! uniquely yours.</span>
                        </span>
                      </span>
                    </button>
                  </nav>
                  <!-- End Tab Navs -->
                </div>
                <!-- End Col -->

                <div class="lg:col-span-6">
                  <div class="relative">
                    <!-- Tab Content -->
                    <div>
                      <div id="tabs-with-card-1" role="tabpanel" aria-labelledby="tabs-with-card-item-1">
                        <img class="shadow-xl shadow-gray-200 rounded-xl" src="https://images.unsplash.com/photo-1605629921711-2f6b00c6bbf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&h=720&q=80" alt="Features Image">
                      </div>

                      <div id="tabs-with-card-2" class="hidden" role="tabpanel" aria-labelledby="tabs-with-card-item-2">
                        <img class="shadow-xl shadow-gray-200 rounded-xl" src="https://images.unsplash.com/photo-1665686306574-1ace09918530?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&h=720&q=80" alt="Features Image">
                      </div>

                      <div id="tabs-with-card-3" class="hidden" role="tabpanel" aria-labelledby="tabs-with-card-item-3">
                        <img class="shadow-xl shadow-gray-200 rounded-xl" src="https://images.unsplash.com/photo-1598929213452-52d72f63e307?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&h=720&q=80" alt="Features Image">
                      </div>
                    </div>
                    <!-- End Tab Content -->

                    <!-- SVG Element -->
                    <div class="hidden absolute top-0 end-0 translate-x-20 md:block lg:translate-x-20">
                      <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                        <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                        <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                      </svg>
                    </div>
                    <!-- End SVG Element -->
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Grid -->

              <!-- Background Color -->
              <div class="absolute inset-0 grid grid-cols-12 size-full">
                <div class="col-span-full lg:col-span-7 lg:col-start-6 bg-gray-100 w-full h-5/6 rounded-xl sm:h-3/4 lg:h-full"></div>
              </div>
              <!-- End Background Color -->
            </div>
          </div>
          <!-- End Features -->

          <!-- Features -->
          <div class="overflow-hidden">
            <div class="max-w-[85rem] py-10 lg:py-14 mx-auto">
              <!-- Title -->
              <div class="mx-auto max-w-1xl mb-8 lg:mb-14 text-center">
                <h2 class="text-3xl lg:text-4xl text-gray-800 font-bold">
                  Do you still do not want to get you The NOTHING?
                </h2>
              </div>
              <!-- End Title -->

              <div class="relative">
                <!-- Grid -->
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
                  <div>
                    <!-- Card -->
                    <div class="shadow-xl shadow-gray-200 p-4 relative z-10 bg-white border border-gray-200 rounded-xl md:p-10">
                      <h3 class="text-xl font-bold text-gray-800">Basic Nothing!</h3>
                      <div class="text-sm text-gray-500">Everyone needs it.</div>

                      <div class="mt-5">
                        <span class="text-6xl font-bold text-gray-800">$9</span>
                        <span class="text-lg font-bold text-gray-800">.99</span>
                        <span class="ms-3 text-gray-500">USD / forever</span>
                      </div>

                      <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                        <!-- List -->
                        <ul class="space-y-2 text-sm sm:text-base">
                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">Access to unlimited Nothing</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">No install required</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">Instantly delivered</span>
                          </li>
                        </ul>
                        <!-- End List -->

                        <!-- List -->
                        <ul class="space-y-2 text-sm sm:text-base">
                          <li class="flex gap-x-3">
                            <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </span>
                            <span class="text-gray-800">Priority support</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </span>
                            <span class="text-gray-800">Nothing in premium packaging</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="size-5 flex justify-center items-center rounded-full bg-gray-50 text-gray-500">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                            </span>
                            <span class="text-gray-800">VIP Nothing! Experience</span>
                          </li>
                        </ul>
                        <!-- End List -->
                      </div>

                      <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
                        <div>
                          <p class="text-sm text-gray-500">Cancel anytime.</p>
                          <p class="text-sm text-gray-500">No card required.</p>
                        </div>

                        <div class="flex justify-end">
                          <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-hidden focus:bg-gray-50">Take it!</button>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>

                  <div>
                    <!-- Card -->
                    <div class="shadow-xl shadow-gray-200 p-5 relative z-10 bg-white border border-gray-200 rounded-xl md:p-10">
                      <h3 class="text-xl font-bold text-gray-800">Advanced Nothing!</h3>
                      <div class="text-sm text-gray-500">Everyone wants it.</div>
                      <span class="absolute top-0 end-0 rounded-se-xl rounded-es-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3">Most popular</span>

                      <div class="mt-5">
                        <span class="text-6xl font-bold text-gray-800">$19</span>
                        <span class="text-lg font-bold text-gray-800">.99</span>
                        <span class="ms-3 text-gray-500">USD / forever</span>
                      </div>

                      <div class="mt-5 grid sm:grid-cols-2 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0">
                        <!-- List -->
                        <ul class="space-y-2 text-sm sm:text-base">
                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">Access to unlimited Nothing</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">No install required</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">Instantly delivered</span>
                          </li>
                        </ul>
                        <!-- End List -->

                        <!-- List -->
                        <ul class="space-y-2 text-sm sm:text-base">
                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">Priority support</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">Nothing in premium packaging</span>
                          </li>

                          <li class="flex gap-x-3">
                            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
                              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
                            </span>
                            <span class="text-gray-800">VIP Nothing! Experience</span>
                          </li>
                        </ul>
                        <!-- End List -->
                      </div>

                      <div class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0">
                        <div>
                          <p class="text-sm text-gray-500">Cancel anytime.</p>
                          <p class="text-sm text-gray-500">No card required.</p>
                        </div>

                        <div class="flex justify-end">
                          <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Take it!</button>
                        </div>
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>
                </div>
                <!-- End Grid -->

                <!-- SVG Element -->
                <div class="hidden md:block absolute top-0 end-0 translate-y-16 translate-x-16">
                  <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                    <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                    <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
                  </svg>
                </div>
                <!-- End SVG Element -->

                <!-- SVG Element -->
                <div class="hidden md:block absolute bottom-0 start-0 translate-y-16 -translate-x-16">
                  <svg class="w-56 h-auto text-cyan-500" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
                  </svg>
                </div>
                <!-- End SVG Element -->
              </div>

              <div class="mt-7 text-center">
                <p class="text-xs text-gray-400">
                  Prices in USD. No Taxes!
                </p>
              </div>
            </div>
          </div>
          <!-- End Features -->

          <!-- Icon Blocks -->
          <div class="max-w-[85rem] py-10 lg:py-14 mx-auto">
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6">
              <!-- Card -->
              <a class="group flex gap-y-6 size-full hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 rounded-lg p-5 transition duration-400" href="#">
                <svg class="shrink-0 size-8 text-gray-800 mt-0.5 me-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="13.5" cy="6.5" r=".5"/><circle cx="17.5" cy="10.5" r=".5"/><circle cx="8.5" cy="7.5" r=".5"/><circle cx="6.5" cy="12.5" r=".5"/><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10c.926 0 1.648-.746 1.648-1.688 0-.437-.18-.835-.437-1.125-.29-.289-.438-.652-.438-1.125a1.64 1.64 0 0 1 1.668-1.668h1.996c3.051 0 5.555-2.503 5.555-5.554C21.965 6.012 17.461 2 12 2z"/></svg>

                <div>
                  <div>
                    <h3 class="block font-bold text-gray-800">Nothing! On-the-Go</h3>
                    <p class="text-gray-600">Take Nothing! with you wherever life leads never runs out, always ready.</p>
                  </div>

                  <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800">
                    Learn more
                    <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </p>
                </div>
              </a>
              <!-- End Card -->

              <!-- Card -->
              <a class="group flex gap-y-6 size-full hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 rounded-lg p-5 transition duration-400" href="#">
                <svg class="shrink-0 size-8 text-gray-800 mt-0.5 me-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h20"/><path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3"/><path d="m7 21 5-5 5 5"/></svg>

                <div>
                  <div>
                    <h3 class="block font-bold text-gray-800">Nothing! For Yoy and Your Friends</h3>
                    <p class="text-gray-600">Bring the gift of Nothing! to coworkers, friends, or anyone you meet.</p>
                  </div>

                  <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800">
                    Learn more
                    <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </p>
                </div>
              </a>
              <!-- End Card -->

              <!-- Card -->
              <a class="group flex gap-y-6 size-full hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 rounded-lg p-5 transition duration-400" href="#">
                <svg class="shrink-0 size-8 text-gray-800 mt-0.5 me-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"/><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/><path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"/><path d="M2 7h20"/><path d="M22 7v3a2 2 0 0 1-2 2v0a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12v0a2 2 0 0 1-2-2V7"/></svg>

                <div>
                  <div>
                    <h3 class="block font-bold text-gray-800">Nothing! Unlimited</h3>
                    <p class="text-gray-600">Rediscover the pure potential of having Nothing! as much as you want, forever.</p>
                  </div>

                  <p class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold text-gray-800">
                    Learn more
                    <svg class="shrink-0 size-4 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </p>
                </div>
              </a>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Icon Blocks -->

          {{ page.content }}

        </div>

      </div>
    </div>

  </main>

  {#  {% if page.footer %}#}
  <footer class="mt-auto w-full py-7 px-4 md:px-6 lg:px-8 mx-auto bg-gray-50">
    <div class="max-w-[92rem] mx-auto">
      <div class="items-center">
        <ul class="text-center">
          <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-300">
            <a class="inline-flex gap-x-2 text-sm text-gray-500 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 transition duration-400" href="#">
              Home
            </a>
          </li>
          <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-300">
            <a class="inline-flex gap-x-2 text-sm text-gray-500 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 transition duration-400" href="#">
              Pricing
            </a>
          </li>
          <li class="inline-block relative pe-8 last:pe-0 last-of-type:before:hidden before:absolute before:top-1/2 before:end-3 before:-translate-y-1/2 before:content-['/'] before:text-gray-300">
            <a class="inline-flex gap-x-2 text-sm text-gray-500 hover:text-gray-800 focus:outline-hidden focus:text-gray-800 transition duration-400" href="#">
              About
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  {#  {% endif %}#}

</div>
